@model List<Product>

@foreach (var item in Model)
{
    <div class="card container" style="width: 18rem;">
        <img src="@item.ImageUrl" class="card-img-top" alt="image">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">@item.Price$</p>
            <form asp-controller="Product" asp-action="RemoveProduct" method="post">
                <input type="hidden" name="productId" value="@item.Id" />
                <button type="submit" class="btn btn-danger">Remove</button>
            </form>
        </div>
    </div>
}
